body {
	text-align: center;
}

#map-container {
	height: 500px;
	width: 100%;
	margin: 0 auto;
}

.h-text {
	display: block;
	text-decoration: none;
	font-size: 16px;
	color:  #003366;
	font-family: 'gobold_thinregular', sans-serif;
}

.thumbnail {
	height: 50%;
	width: 50%;
}

body {
	background-color: #CCCCCC;
}

.title {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 26px;
	color: #003366;
	font-family: 'gobold_thinregular', sans-serif;
	position: relative;
}

.back-btn {
	position: relative;
	top: -37px;
	left: -155px;
}

.back-img {
	width: 40px;
	height: 40px;
}

.container {
	padding: 10px;
}

.nav {
	padding: 10px 0;
}

#search-bar {
	display: inline-block;
	margin-left: 10px;
	border-radius: 8px;
	box-shadow: 2px 2px 2px 0px rgba(0,51,102,.5);
	background-color: rgba(255, 255, 255, .5);
}

#search-icon {
	width: 25px;
	height: 25px;
	padding: 5px;
}

#search {
	width: 245px;
	border: none;
	background-color: transparent;
}

.btn {
	border-radius: 8px;
	box-shadow: 3px 3px 4px 0px rgba(0,51,102,.5);
	background-color: rgba(255, 255, 255, .3);
	padding: 5px 15px;
	font-family: 'robotoregular', sans-serif;
	float: left;
	color: #003366;
	text-decoration: none;
}

.place-img {
	position: relative;
	width: 100%;
	height: 185px;
}

.name {
	position: relative;
	top: 135px;
	z-index: 99;
	font-size: 65px;
	font-size: 18vw;
	font-family: 'bebas_neuebold', sans-serif;
	color: rgba(255,255,255,.7);
	text-align: center;
	margin-top: -100px;
}

#form-hdr {
	font-family: 'robotolight', sans-serif;
	color: rgba(255,255,255,.7);
	text-align: center;
	font-size: 36px;
	margin: 0;
	position: relative;
	top: 12px;
}

.hdr-box {
	background-color: #003366;
	position: relative;
}

#place-name {
	font-family: 'bebas_neuebold', sans-serif;
	color: rgba(255,255,255,.7);
	font-size: 61px;
	margin: 0;
	position: relative;
	top: -12px;
}

.form {
	text-align: left;
	padding: 20px;
	font-family: 'robotoregular', sans-serif;
	color: #EBF2FA;
}

.input {
	background-color: rgba(255,255,255,.25);
	box-shadow: 2px 2px 2px 0px rgba(0,51,102,.25);
	border-radius: 5px;
	border: 0;
	color: #FFF;
	padding: 10px 5px;
	width: 100%;
	margin: 5px 0;
}

::-webkit-input-placeholder {
	color: #FFF;
}

.form-date {
	width: 100%;
}

#date-label {
	width: 15%;
	display: inline-block;
	font-size: 11px;
	text-align: right;
	
}

#month {
	width: 30%;
	margin-right: 5px;
	margin-left: 5px;
}

#year {
	width: 35%;
}

.subheader {
	font-size: 24px;
	color: #003366;
}

#intro {
	text-align: justify;
	font-family: 'robotolight', sans-serif;
	color: #EBF2FA;
}

.story {
	text-align: justify;
	font-family: 'robotolight', sans-serif;
	color: #EBF2FA;
	border: none;  
    border-top: 1px solid #EBF2FA;
    padding: 15px 10px;
}

.story-text {
	display: inline;
}

.author {
	display: block;
	margin: 0;
	padding-top: 10px;
	font-family: 'robotoregular', sans-serif;
}

.author-abt {
	font-size: 10px;
	margin: 0;
}

.date {
	font-style: italic;
	margin: 0;
	display: inline-block;
}

.place-options {
	height: 50px;
	font-family: 'robotoregular', sans-serif;
}

.underline {
	text-decoration: underline;
}

.option {
	margin: 0;
	line-height: 3.3;
	display: inline-block;
	font-size: 20px;
	width: 49%;
	text-align: center;
	color: #003366;
}

#stories-list {
	clear: both;
}

#add-btn {
	margin-top: 20px;
	width: 100%;
}

#add-form-btn {
	width: 100%;
	font-size: 28px;
	margin-bottom: 20px;
	margin-top: 10px;
	background-color: #003366;
	color: #FFF;
}

#stories-title {
	text-align: left;
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 10px;
	margin: 0;
	clear: both;
	
}
