body {
	text-align: center;
}

#map-container {
	height: 500px;
	width: 100%;
	margin: 0 auto;
}

.h-text {
	display: block;
	text-decoration: none;
	font-size: 16px;
	color:  #003366;
	font-family: 'gobold_thinregular', sans-serif;
}

.thumbnail {
	height: 50%;
	width: 50%;
}

body {
	background-color: #CCCCCC;
}

.title {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 26px;
	color: #003366;
	font-family: 'gobold_thinregular', sans-serif;
}

.container {
	padding: 10px;
}

.nav {
	padding: 10px 0;
}

#search-bar {
	display: inline-block;
	margin-left: 10px;
	border-radius: 8px;
	box-shadow: 2px 2px 2px 0px rgba(0,51,102,.5);
	background-color: rgba(255, 255, 255, .5);
}

#search-icon {
	width: 25px;
	height: 25px;
	padding: 5px;
}

#search {
	width: 245px;
	border: none;
	background-color: transparent;
}

.btn {
	border-radius: 8px;
	box-shadow: 3px 3px 4px 0px rgba(0,51,102,.5);
	background-color: rgba(255, 255, 255, .3);
	padding: 5px 15px;
	font-family: 'abeezeeregular', sans-serif;
	float: left;
	color: #003366;
	text-decoration: none;
}

.place-img {
	position: relative;
	width: 100%;
	height: 185px;
}

.name {
	position: relative;
	
	font-family: 'bebas_neuebold', sans-serif;
	color: rgba(255,255,255,.7);
	text-align: center;
	margin: 0 auto;
}

